.item {
    display: flex;
    align-items: center;
    color: #8585AD;
    cursor: pointer;

    & svg {
        fill: #8585AD;
    }
}

.item_active {
    color: #fff;
}

.item:active,
.item:hover {
    color: #F2F2F3;

    & svg {
        fill: #F2F2F3;
    }
}